<!-- TODO: add mortadela -->
<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between">
      <a href="/" class="d-flex col-auto align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <!-- TODO: add logo -->
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-6 col-lg-auto me-auto mb-2 justify-content-start mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
      </ul>

      <div class="col-4 text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn btn-warning">Sign-up</button>
      </div>
    </div>
  </div>
</header>
