<section class="search-section py-3 py-md-5">
  <div class="search-section_container container">
    <div class="search-section_heading mb-4">
      <h2 class="search-section__title text-body">Title</h2>
      <p class="search-section__subtext text-muted">Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Eius alias autem, provident est nemo cum
        laboriosam ducimus iure ab.</p>
    </div>

    <form [formGroup]="form" class="search-section_bar d-flex row">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0 px-2 position-relative" #suggestionList>
        <app-field-input
          placeholder="Start typing the movie title" type="text"
          formControlName="title"
          name="title"
          (onFocus)="this.inputFocused = true"
          ></app-field-input>

          <!-- Suggestions -->
          <ng-container *ngIf="inputFocused && form.get('title')?.value?.length > 3">
            <ul class="search-section_suggestions shadow">
              <ng-container *ngIf="!suggestionLoading; else loadingSuggestions">
                <ng-container *ngIf="suggestions && suggestions.length > 0; else emptySuggestions">
                  <li *ngFor="let suggestion of suggestions"
                    class="search-section_suggestions__item d-flex align-items-center justify-content-between"
                    (click)="onSuggestionsSelect(suggestion)"
                  >
                    <small class="d-inline-block text-muted">{{suggestion.Title | truncate:30 }}  - {{ suggestion.Year }}</small>
                    <span class="small-text text-muted .d-none .d-md-inline-block ms-auto">({{ suggestion.imdbID }})</span>
                  </li>
                  <li class="search-section_suggestions__item py-1" style="pointer-events: none;">
                    <small class="text-muted">Hmm... Maybe if you keep typing.</small>
                  </li>
                </ng-container>
              </ng-container>

              <!-- Loading Suggestions -->
              <ng-template #loadingSuggestions>
                <div class="d-flex justify-content-center p-4">
                  <div class="loader"></div>
                </div>
              </ng-template>

              <!-- Loading Suggestions -->
              <ng-template #emptySuggestions>
                <div class="d-flex justify-content-center p-4">
                  <span>No Movies with this title!</span>
                </div>
              </ng-template>

            </ul>
          </ng-container>
      </div>

      <div class="col-6 col-lg-3 px-2">
        <app-button
          variant="primary"
          icon="search-outline"
          [fullwidth]="true"
          [isDisabled]="!form.value.title"
          (click)="onSearch()"
        >
          Search
        </app-button>
      </div>

      <div class="col-6 col-lg-3 px-2">
        <app-button variant="secondary" [fullwidth]="true" (click)="onReset()">Reset</app-button>
      </div>

    </form>
  </div>
</section>

