<section class="search-section py-5">
  <div class="search-section_container container">
    <div class="search-section_heading mb-4">
      <h2 class="search-section__title text-body">Title</h2>
      <p class="search-section__subtext text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius alias autem, provident est nemo cum laboriosam ducimus iure ab.</p>
    </div>

    <div class="search-section_bar d-flex row">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0 ">
        <input type="text" class="w-100">
      </div>
      <div class="col-6 col-lg-3">
        <app-button variant="primary" icon="search-outline" [fullwidth]="true">Search</app-button>
      </div>
      <div class="col-6 col-lg-3">
        <app-button variant="secondary" [fullwidth]="true">Reset</app-button>
      </div>
    </div>
  </div>
</section>
