<section class="search-section py-3 py-md-5">
  <div class="search-section_container container">
    <div class="search-section_heading mb-4">
      <h2 class="search-section__title text-body">Title</h2>
      <p class="search-section__subtext text-muted">Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Eius alias autem, provident est nemo cum
        laboriosam ducimus iure ab.</p>
    </div>

    <form [formGroup]="form" class="search-section_bar d-flex row">
      <div class="col-12 col-lg-6 mb-3 mb-lg-0 px-2">
        <app-field-input
          placeholder="Start typing the movie title" type="text"
          formControlName="title"
          name="title"
          ></app-field-input>
      </div>
      <div class="col-6 col-lg-3 px-2">
        <app-button
          variant="primary"
          icon="search-outline"
          [fullwidth]="true"
        >
          Search
        </app-button>
      </div>
      <div class="col-6 col-lg-3 px-2">
        <app-button variant="secondary" [fullwidth]="true">Reset</app-button>
      </div>
    </form>
  </div>
</section>
