/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root {
  --header-height: 4.5rem;
  --footer-height: 3.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, p, span, a,h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}
