<section class="movie-info pt-3 pb-5 py-md-5">
  <div class="movie-info_container container-fluid">
    <article class="row flex-md-row-reverse align-items-stretch">
      <picture class="movie-info_picture col-12 col-md-4 figure pb-4 p-md-0">
        <img class="movie-info_picture__poster figure-img rounded" [src]="movie?.thumb ?? './assets/images/default-image.jpg'" alt="movie poster">
      </picture>

      <div class="movie-info_about col-12 col-md-8 pe-3">
        <h2 class="movie-info_about__title text-body">Movie title</h2>
        <p class="movie-info_about__synopsis mb-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste temporibus cum animi! Sequi, reiciendis iste nisi adipisci doloremque quas molestias? Distinctio dolores explicabo fugit quisquam ipsa consectetur quia, repellat qui.</p>

        <ul class="movie-info_about_details ps-0 mb-4">
          <li class="movie-info_about_details__items d-flex align-items-center py-1">
            <strong class="me-2">Actor</strong>
            <span>Lorem, ipsum dolor.</span>
          </li>
          <li class="movie-info_about_details__items d-flex align-items-center py-1">
            <strong class="me-2">Review</strong>
            <app-rating [rating]="3.4"></app-rating>
          </li>
        </ul>

        <app-button
          variant="primary"
          icon="heart-outline"
        >
          Favorite
        </app-button>
      </div>
    </article>
  </div>
</section>
